---
import AboutHeroImage from "../assets/cat.webp";
import Layout from "../layouts/BlogPost.astro";
const pageTitle = "关于为什么写博客";
---

<Layout
	title="About Why to write"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("May 06 2026")}
	heroImage={AboutHeroImage}
>
	<p>
		First at all, to write something is my hobby, and than, i`d like to try
		some new to entertain oneself.
	</p>

	<p>
		In this, I`d like to write some article to record my game or thoughts,
		of course, practice English proficiency is also important.
	</p>

	<p>I will also record my learning road, just like AI........</p>
</Layout>
